*{margin:0;padding:0}
body, #mainwrap{width:100%;height:100%;min-width:300px;font-family:Tahoma, Helvetica, sans-serif;font-size:100%;color:#004997;text-align:center; -webkit-font-smoothing: antialiased}
#mainwrap, #footer{max-width:1680px;margin:0 auto;text-align:left;padding-bottom:2.5em}
#contentarea, #header, #topmenu, #footer, .bottom-part{width:100%;position:relative;clear:both}
#leftcolumn, #rightcolumn{width:190px;height:auto;position:absolute;overflow:hidden}
#leftcolumn{top:34px;left:0;padding:10px 0 0 10px} #rightcolumn{top:50px;right:0}
#centercolumn{margin:0 200px 0 220px}
ul{list-style-type:none}
a{color:#0750ff;text-decoration:none} a:hover, #footer a:hover, .active{color:#f00}
.list-header, .table-header, .header{font-size:1.0625em;margin:5px 0 5px 3%;background:#fff;padding:0 0.2em;color:#f00;text-align:left}
table{border-collapse:collapse;margin:0 auto 0.5em auto} table, td, th, .list-container{border:solid 1px #d4d4d4}
td, th{padding:5px;font-size:0.875em} .container{border-top:solid 2px #e9e9e9}
th{background:#edffd4;color:#444}
.td-red td:last-child{color:#e80028} .td-red td:first-child{width:50%}
.two-column{width:46%;float:left;text-align:left;margin:0 2% 10px 2%}
.codes td:last-child, .codes th:last-child{text-align:center;font-weight:bold;color:#e80028;font-size:0.75em}
.line td{padding:0 5px} .codes, .rank, .tz{width:96%}
.codes, td.cur_c, th.cur_c, h1, .column{text-align:left} .cap_c, .cur_c{color:#083}
.d_state span, .column span, .two-column span{color:#444;font-size:96%;font-style:italic} span.black{color:#333;font-size:100%;font-style:normal}
#logo{display:block}
#topmenu ul{width:100%;border-top:1px solid #f1fdff;display:table;margin:0 0 10px 0}
#topmenu li{display:table-cell;font-weight:bold;text-align:center;font-size:1em;line-height:1.8}
#topmenu a, #current{height:1.8125em}
#topmenu a{display:block;background:#076fff;color:#fff;border:solid 1px #61b1e9;border-left-color:#c2ddf5}
#topmenu a:hover, #topmenu #current{background:#c8e856;color:#000;border:solid 1px #afe440}
.menu-toggle span{display:none;width:99%;height:100%;cursor:pointer}
#leftmenu ul, #leftmenu-style div, #section-nav li{text-transform:uppercase}
#leftmenu li, #leftmenu-style div{font-size:0.625em;font-weight:bold;border-bottom:dotted 1px #aaa}
#leftmenu-style div{font-size:0.6875em;color:#000;padding:22px 0 3px 4px;margin:0;border-bottom:solid 2px #c8e856}
#leftmenu a, #leftmenu .active{display:block;padding:11px 4px 4px 4px}
#leftmenu a:hover, #leftmenu .active{background:#eaffe0}
.content-text{text-align:justify;margin:0 1% 0.125em;clear:both} .content-text a, .cc_more_info{text-decoration:underline}
.content-text p, .content-text li, h1{color:#333;font:1.0625em/1.3 "TimesNewRomanPSMT", "Times New Roman", Times, serif;margin-bottom:0.375em}
h1{font-weight:normal;font-size:2em;padding:6px 0 8px 0;margin:0;line-height:1.1}
.container{width:98%;float:left;text-align:center;margin:0.25em 1% 0.5em} .list-container{border-radius:5px;margin-bottom:1em}
.column{float:left;margin:10px 2%;width:28%}
.column li{font-size:0.875em;margin:5px 0;line-height:1.25;min-width:8em}
li.letter, td.letter, .td-red td.letter, .codes td.letter{font:bold 1.0625em Tahoma, Helvetica, sans-serif;padding:10px 0 0 0.5em;color:#009414;text-align:left}
#section-nav{float:left;width:99.8%;text-align:left;margin:10px auto 3px auto;background:#fff}
#nav-style{float:left;width:6.05em;font-size:0.875em;line-height:20px;white-space:nowrap;padding:0 4px;color:#009414;position:relative;z-index:0}
#nav-style.capitals{width:4.8em}
#nav-style.flags{width:3.7em}
#nav-style:after{content:'';position:absolute;top:4px;right:-5px;width:13px;height:13px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);z-index:1;box-shadow:1.75px -1.75px 0 1.75px rgba(0, 148, 20, 0.6);border-radius:9px 9px 9px 50px}
#section-nav ul{float:left;width:85%;margin:0 0 0 10px;position:relative}
#section-nav li{height:11px;line-height:0.9;font-weight:bold;font-size:0.8125em;float:left;border-right:solid 1px #2158CC;padding:3px 10px 4px 0;margin:2px 0 10px 10px}
#section-nav li:last-child, img{border:none}
.grey{background:#f9f9f9}
#footer{text-align:left;border-top:solid 3px #d1d1d1;padding:1.5em 0 6em 0;font-size:0.8125em;color:#555} #footer div{float:left;margin-left:1em}
#footer ul{display:table;float:right} #footer li{padding:0 1em 0.75em 0;display:table-cell;color:#f00} #footer a{color:#555}
.bottom-part{overflow:hidden;margin-top:0.75em;text-align:center} .cw_main{width:728px;height:120px;margin:0.5em auto}
.cw_mainbanner{width:160px;height:600px;margin-top:20px}
.cc_banner-wrapper{width:100%;min-width:300px;position:fixed;bottom:0;z-index:100;background:#666}
.cc_container{text-align:center;margin:0.25em auto;display:table}
.cc_message{font-size:0.9375em;display:table-cell;padding:0.75em 0 0.75em 0.5em;color:#fff}
.cc_more_info{color:#59f9df;white-space:nowrap}
.cc_btn{display:inline-block;cursor:pointer;font-size:0.9375em;vertical-align:middle;border-radius:4px;background:#333;padding:3px 20px;margin:auto 20px;color:#fff}
.cc_btn:hover{background:#ffd400;color:#000}
@media(min-width:761px) and (max-width:1434px){#header{height:56px;background:url(img/header-t.png) 0 1px no-repeat} #logo{display:inline-block;height:48px;width:605px;margin:2px 0}}
@media(min-width:1201px){#leftcolumn{width:205px;padding-left:1.3%} #centercolumn{margin:0 210px 0 245px} #leftmenu li{font-size:0.6875em}}
@media(min-width:1435px){body{font-size:18px} #header{height:74px;background:url(img/header-d.png) 0 1px no-repeat} #logo{width:788px;height:70px;margin:2px 0}
.content-text p, .content-text li{font-size:19px} #leftcolumn{top:40px;width:240px} #centercolumn{margin:0 330px 0 275px} #rightcolumn{width:320px}
#leftmenu li, #leftmenu-style div{font-size:12px} #topmenu li{font-size:18px} .cw_mainbanner{width:300px} h1{font-size:34px} .column li, td, th{font-size:16px}}
@media(min-width:1599px){body{font-size:19px} .content-text p, .content-text li{font-size:20px} .column li, td, th{font-size:17px}
#leftmenu li, #leftmenu-style div{font-size:13px} #topmenu li{font-size:19px} h1{font-size:36px}}
@media(min-width:1800px){#leftcolumn{width:265px} #centercolumn{margin:0 340px 0 310px} #leftmenu li, #leftmenu-style div{font-size:14px} .column li, td, th{font-size:18px}
.content-text p, .content-text li{font-size:21px} #mainwrap, #footer{padding-right:5px;padding-left:5px;border-right:solid 1px #d4d4d4;border-left:solid 1px #d4d4d4}}
@media(max-width:1130px){#section-nav ul{width:75%} .cc_message{text-align:left;padding:0.375em 2%}}
@media(max-width:1200px){#leftcolumn, #rightcolumn{top:62px} #topmenu ul, #topmenu li{float:left;display:block} #topmenu li{width:24.99%} #topmenu #current{border-left:0;border-right:0}}
@media(max-width:1020px){#leftmenu li{font-size:0.6875em} #rightcolumn, .bottom-part{position:relative;top:0;width:97%;margin:0 2% 10px auto;padding:0}
#centercolumn{margin-right:0.3%} .column{width:27%;min-width:5.6em} .content-text{text-align:left} .content-text p, .content-text li{font-size:1.125em} #footer ul, #footer div{float:none;margin-left:2%}}
@media(min-width:731px) and (max-width:1020px){#rightcolumn, .bottom-part{text-align:right} .cw_mainbanner, .cw_main{margin:10px 0 0 auto;width:728px;height:120px}}
@media(min-width:426px) and (max-width:760px){#header{background:none} #logo{width:410px;height:41px;background:url(img/header2.png) 0 1px no-repeat;margin:2px 0 3px 2.3%}}
@media(max-width:760px){#centercolumn{margin:0 2% 0 3%;padding-top:45px} .rank{width:99%}
#topmenu{position:absolute;z-index:1} #topmenu, #leftcolumn{width:99.7%;padding:0;top:0} #leftcolumn{width:65%;left:35%}
.menu-toggle{height:2.5625em;text-align:center;top:0;display:block;position:relative;z-index:1}
#topmenu .menu-toggle{width:36%} #leftcolumn .menu-toggle{width:100%}
#topmenu ul, #leftmenu{border:solid 1px #ccc;border-top:none;width:99.4%;display:none;padding:0.25em 0 1.5em 0;float:left;background:#ececec}
#topmenu li{padding:0.75em 0} #topmenu li, #topmenu a, #topmenu a:hover, #topmenu #current{border:none;height:auto;background:none;width:99.8%}
#topmenu li, #leftmenu li, #topmenu li#current{font-size:0.875em;display:block;margin:0;text-transform:uppercase;border-bottom:dotted 1px #aaa}
#topmenu a{color:#0750ff} #topmenu a:hover, #topmenu #current{color:#f00}
#leftmenu-style{margin:0 3% 0 6%} #topmenu li:last-child{border:none}
.menu-toggle span:before{background:#076fff;border:solid 1px #c2ddf5;font-size:1.375em;display:inline-block;font-weight:bold;color:#fff;height:1.25em;padding:0.25em 0;width:100%}
#leftcolumn .menu-toggle span:before{content:"Main Menu";padding-right:10%;width:90%;text-align:right}
#topmenu .menu-toggle span:before{content:"Sections"}
.menu-toggle span.close:before{background:#c8e856;color:#000;border:solid 1px #afe440}
.menu-toggle span.close{display:none} .menu-toggle span.open{display:inline-block}
.cc_message{display:inline;padding:0 1%;font-size:0.875em} .cc_btn{margin:3px 10px}}
@media(max-width:730px){.cw_mainbanner, .cw_main{width:336px;height:280px;margin:0.75em auto} #rightcolumn, .bottom-part{text-align:center;margin:0 1% 0 2%}}
@media(max-width:570px){.two-column, .codes{width:95.7%}}
@media(max-width:395px){.cw_mainbanner, .cw_main{width:90%;height:250px}}
@media(min-width:360px) and (max-width:425px){#logo{width:350px;height:40px;background:url(img/header3.png) 0 1px no-repeat} h1{font-size:2.25em}}
@media(max-width:425px){#logo{margin:2px 0 2px 5px} #nav-style{font-size:11px} #section-nav ul{font-size:0.9375em;margin-left:7px} #leftcolumn{width:99.7%;left:0} #leftcolumn .menu-toggle{width:65%;left:35%}
.column{width:85%;margin:0 5% 10px 5%} .column li{font-size:1.0625em} h1{text-align:center}}
@media(max-width:359px){#logo{width:290px;height:30px;background:url(img/header4.png) 0 0 no-repeat} .cw_main{height:150px}
#leftmenu li{font-weight:normal;font-size:0.8125em} #nav-style{display:block} #nav-style:after{display:none} #section-nav ul{width:98%;margin-left:1%} #footer{padding:1em 0 8em 0} .cc_message, #footer{font-size:0.75em}}
@media(max-width:319px){.content-text p, .content-text li{font-size:1em} #footer li{float:left;padding-bottom:0.5em} #footer li:first-child{width:80%}}